body{
    width: 100%;
    margin: 0;
    padding: 0;
}

a, p{
    font-family:  "Baloo Bhaina 2", sans-serif;
    font-size: 16px;
}
h2{
    font-family: "Baloo Bhaina 2", sans-serif;
    font-size: 20px;
}
.headertop{
    background-image: url(img/Union.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}
.headertop img{
    width: 25px;
    height: 25px;
    padding-right: 10px;
    align-self: center;
}
.headertopleft{
    display: flex;
    justify-content: flex-start;
}
.headerlogin{
    display: flex;
    justify-content: flex-end;
    max-width: 165px;
    gap: 40px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding-right: 20px;
}
.logo{
    padding-left: 50px;
}
.menulist{
    justify-content: space-between;
    display: flex;
    width: 500px;
}
.menulist a{
    text-decoration: none;
    color: black;
}
.searchbar{
    display: flex;
    justify-content: space-between;
    width: 280px;
}
.search{
    display: flex;
    width: 210px;
    border: 2px solid gray;
    border-radius: 25px;
    height: 50px;
}
.search img{
    width: 50px;
    height: 50px;
    display: flex;
}
.searchsvg img{
    width: 20px;
    height: 20px;
    align-items: center;
    align-self: center;
}
.searchsvg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #0F83B2; 
}
.search input{
    width: 150px;
    padding-left: 9px;
    border-radius: 25px;
    height: 48px;
    border: none;   
    outline: none;      
    box-shadow: none;
}
.products{
    display: flex;
    padding-left: 30px;
    gap: 40px;
}
.categories{
    max-width: 280px;
}
.categories1, .categories2, .categories3{
    border: 1px solid grey;
    border-radius: 20px;
    padding: 30px 25px ;
}
.cardlist{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    justify-content: space-between;
    width: 880px;
}
.cards{
    width: 880px;
}
.cardmenu{
    display: flex;   
    justify-content: space-between; 
}
.container-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 370px;
}
.container-card  h4,p{
    margin: 0;
    padding: none;
}
.card1{
    background-image: url(toppicks/image\ 11.png);
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8px;
    justify-content: space-between;
}
.card {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column; 
}
.heart {
    display: flex;
    flex-direction: column;
    gap: 4px; 
}



footer{
    background-image: url(img/Footer\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    width: 100% ;
    
    align-self: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.footbar{
    display: flex;
    padding-left: 50px;
}
.lastbar1, .lastbar2, .lastbar3, .lastbar4{
    width: 250px;
    height: 250px;
    font-size: 16px;
}
.lastbar1 {
    padding-top: 20px;
}

@media (max-width: 576px) {
    .headertopleft p{
        display: none;
    }
    
}
@media (max-width: 768px) {
    .menulist{
        display: none;
    }
    
}
@media (max-width: 768px) {
    .searchbar img{
        display: none;
    }
    
}
@media (max-width: 768px) {
    .searchsvg img{
        display: flex;
    }
    
}
@media (max-width: 768px) {
    .logo{
        padding: 25px;
    }
    
}
@media (max-width: 400px) {
    .logo{
        width: 125px;
    }
    
}
@media screen and (width <= 1024px) {
    .menulist{
        max-width: 300px;
    }
    
}
@media screen and (width <= 400px) {
    .searchsvg{
       max-width: 50px;
    }
    
}
@media (max-width: 768px) {
    .products{
        max-width: 250px;
    }
    
}
@media (max-width: 576px) {
    .products{
        max-width: 180px;
        gap: 20px;
        
    }
    
}
@media (max-width: 476px) {
    .products{
        width: 160px;
        gap: 20px;
        padding-left: 2px;
    }
    
}
@media (max-width: 476px) {
    .container-card{
        width: 170px;
        
       
    }
    
}
@media (max-width: 450px) {
    .products{
        max-width: 180px;
       
    }
    
}
@media (max-width: 576px) {
    .categories1, .categories2, .categories3{
        padding: 10px 10px;
       
    }
    
}

@media (max-width: 576px) {
    .categories{
        max-width: 140px;
        margin: none;
        padding: 0;
        
    }
    
}
@media (max-width: 576px) {
    .categories p{
       font-size: 12px;
    }
    
}
@media (max-width: 576px) {
    .categories h2{
       font-size: 14px;
    }
    
}

@media screen and (width <= 768px) {
   .footbar{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (width <= 576px) {
   .footbar{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (width <= 992px) {
   .lastbar4{
  display: none;
  }
}
@media screen and (width <= 576px) {
   footer{
    background-color: antiquewhite;
   display: flex;
   flex-direction: column;
   justify-content: center;
align-items: center;
align-self: center;
font-size: 10px;
max-height: 800px;
  }
}
@media screen and (width <= 576px) {
   .lastbar1, .lastbar2, .lastbar3 p{
   /* width: 150px;
   height: 150px; */
   font-family: 10px;
   margin: 0;
   padding: none;
  }
}
@media screen and (width <= 576px) {
   .lastbar1, .lastbar2, .lastbar3{
   gap: 10px;
   height: 160px;
  }
}
@media screen and (width <= 576px) {
   .lastbar2 p,h2{
   margin: 0;
   padding: none;
  }
}
@media screen and (width <= 576px) {
   .lastbar1 p{
   margin: 0;
   padding: none;
  }
}


@media screen and (width <= 992px) {
   .cardlist{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (width <= 992px) {
   .cardlist{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 200px;
  }
}
@media screen and (width <= 768px) {
   .cardlist{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 140px;
  }
}
@media screen and (width >= 1200px) {
   .cardlist{
   width: 1000px
  }
}
